/* General Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Content */ 

.main-content {
    font-size: 20px;
    font-family: "Cormorant Garamond", serif;
    padding: 40px 5%;
    min-height: calc(100vh - 118.4px);
}

h1 {
    margin-bottom: 1em;
}

p {
    font-weight: 500;
    margin-bottom: 1em;
}

hr {
    margin: 40px 0;
    height: 1px;
}

nav ul { /* header, footer */
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li { /* header, footer */
    margin-right: 20px; 
}

/* Header */

.header-content {
    background-color: #eee;
    padding: 20px 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid #000;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0 20px;
}

header a {
    text-decoration: none; /* Remove underlines from links */
    font-weight: bold;
    color: #000;
}

header a:hover {
    color: #535353;
}

#header-title {
    font-family: "Passion One", sans-serif;
}

/* Footer */

.footer-content {
    background-color: #eee;
    padding: 20px 0;
    width: 100%;
    z-index: 1000;
    border-top: 1px solid #000;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0 20px;
}

footer a {
    font-weight: bold; 
    color: #000;
}

footer a:hover {
    color: #535353;
}

footer p {
    margin-bottom: 0;
}

/* Homepage */

.homepage-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1%;
}

.homepage-container .text-column {
    flex: 2;
    max-width: 70%;
}

.homepage-container .img-column {
    flex: 1;
    max-width: 50%;
}

.homepage-container .img-column img {
    max-width: 100%;
    height: auto;
    filter: grayscale(100%);
}

#homepage-title {
    font-family: "Passion One", sans-serif;
    font-size: 2.5em;
    margin-bottom: 0;
}

/* Article Container */

.article {
    padding: 20px 0;
}

.article h2 {
    font-family: "Passion One", sans-serif;
}

.article h3 {
    font-style: italic;
}

.article a {
    text-decoration: none; /* Remove underlines from links */
    color: #000;
}

.article a:hover {
    color: #535353;
}

/* Article With Icon Container */

.article-w-cols {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1%;
    margin: 40px;
}

.article-w-cols .text-column {
    flex: 1;
    max-width: 90%;
}

.article-w-cols .img-column {
    flex: 2;
    max-width: 150px;
}

.article-icon {
    height: 100px;
}

/* Articles Page */

.page-title {
    text-align: center;
    max-width: 100%;
}


#article-selector-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    justify-items: center;
    align-items: center; 
    padding: 40px 0;
}

#article-selector-container .option {
    cursor: pointer;
    justify-content: center;
}

#article-selector-container img {
    height: 100px;
    width: auto;
}

#pagination-controls {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pagination-controls button {
    font-size: 24px;
    border: none;
    background-color: #fff;
    color:#000;
}

#pagination-controls button:hover {
    color: #535353;
}

#pagination-controls #pg-info {
    font-size: 24px;
    margin: 0 40px;
}

@media (max-width: 1080px) {
    .homepage-container {
        flex-direction: column; 
        align-items: stretch; 
    }

    .homepage-container .text-column, .homepage-container .img-column {
        max-width: 100%; 
    }

    #article-selector-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* Individual Articles Pages */

.article-head {
    margin-bottom: 40px;
    text-align: center;
}

.article-head h1 {
    font-family: "Passion One", sans-serif;
    margin-bottom: 0;
}

.article-head .publication-name {
    font-style: italic;
}